{{#if pagination}}
<nav class="pagination" aria-label="pagination">
  {{#if pagination.hasPrev}}
    <a href="{{pagination.prevUrl}}" class="pagination-btn pagination-prev" aria-label="{{t "prevPage"}}">
      <svg viewBox="0 0 20 20" fill="currentColor" class="pagination-icon"><path fill-rule="evenodd" d="M12.79 5.23a.75.75 0 01-.02 1.06L8.832 10l3.938 3.71a.75.75 0 11-1.04 1.08l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 011.06.02z" clip-rule="evenodd"/></svg>
      <span>{{t "prevPage"}}</span>
    </a>
  {{else}}
    <span class="pagination-btn pagination-prev disabled" aria-disabled="true">
      <svg viewBox="0 0 20 20" fill="currentColor" class="pagination-icon"><path fill-rule="evenodd" d="M12.79 5.23a.75.75 0 01-.02 1.06L8.832 10l3.938 3.71a.75.75 0 11-1.04 1.08l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 011.06.02z" clip-rule="evenodd"/></svg>
      <span>{{t "prevPage"}}</span>
    </span>
  {{/if}}

  <span class="pagination-info">{{pagination.current}} / {{pagination.totalPages}}</span>

  {{#if pagination.hasNext}}
    <a href="{{pagination.nextUrl}}" class="pagination-btn pagination-next" aria-label="{{t "nextPage"}}">
      <span>{{t "nextPage"}}</span>
      <svg viewBox="0 0 20 20" fill="currentColor" class="pagination-icon"><path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd"/></svg>
    </a>
  {{else}}
    <span class="pagination-btn pagination-next disabled" aria-disabled="true">
      <span>{{t "nextPage"}}</span>
      <svg viewBox="0 0 20 20" fill="currentColor" class="pagination-icon"><path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd"/></svg>
    </span>
  {{/if}}
</nav>
{{/if}}
