{{#if schema}}
{{#if schema.website}}
<!-- WebSite schema -->
<script type="application/ld+json">
{{{jsonLdSafe schema.website}}}
</script>
{{/if}}

{{#if schema.blogPosting}}
<!-- BlogPosting schema -->
<script type="application/ld+json">
{{{jsonLdSafe schema.blogPosting}}}
</script>
{{/if}}

{{#if schema.collectionPage}}
<!-- CollectionPage schema -->
<script type="application/ld+json">
{{{jsonLdSafe schema.collectionPage}}}
</script>
{{/if}}

{{#if schema.breadcrumbList}}
<!-- BreadcrumbList schema -->
<script type="application/ld+json">
{{{jsonLdSafe schema.breadcrumbList}}}
</script>
{{/if}}

{{#if schema.organization}}
<!-- Organization schema -->
<script type="application/ld+json">
{{{jsonLdSafe schema.organization}}}
</script>
{{/if}}

{{#if schema.person}}
<!-- Person schema -->
<script type="application/ld+json">
{{{jsonLdSafe schema.person}}}
</script>
{{/if}}
{{/if}}
